<nav class="navPages">
    <ul class="navPages-list">
        <li class="navPages-item has-child-menu">
            <span class="navPages-action">
                Shop
                <i class="fa fa-angle-down"></i>
                <i class="fa fa-angle-up"></i>
            </span>
            <div class="second-level">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="navPages-list--lvl2">
                                <li>
                                    <div class="row">
                                        <!-- COLUMN 1 -->
                                        <div class="col-lg-3">
                                            <div class="navpages-section">
                                                <a href="/spin-bikes/" class="navPages-item--lvl2-title has-menu mobile-hidden">Bikes</a>
                                                <ul>
                                                    <li>
                                                        <a href="/spin-bikes/" class="navPages-item--lvl2-link">Home Bikes</a>
                                                        <ul class="navPages-item--lvl3 mobile-hidden">
                                                            <li>
                                                                <a href="/spin-bikes/lifestyle-series/" class="navPages-item--lvl3-link mobile hidden">Lifestyle Series</a>
                                                            </li>
                                                            <!-- No inventory
                                                            <li>
                                                                <a href="/spin-bikes/active-series/" class="navPages-item--lvl3-link mobile hidden">Active Series</a>
                                                            </li>
                                                            -->
                                                            <li>
                                                                <a href="/spin-bikes/performance-series/" class="navPages-item--lvl3-link mobile hidden">Performance Series</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="/commercial-spin-bikes/" class="navPages-item--lvl2-link">Commercial Bikes</a>
                                                    </li>
                                                </ul>
                                            </div>
                                                        
                                            <div class="navpages-section">
                                                <a href="/cycling-accessories-parts/" class="navPages-item--lvl2-title has-menu">Parts &amp; Accessories</a>
                                                <ul>
                                                    <li>
                                                        <a href="/cycling-accessories-parts/bike-accessories/" class="navPages-item--lvl2-link mobile-hidden">Bike Accessories</a>
                                                    </li>
                                                    <li>
                                                        <a href="/cycling-accessories-parts/bike-pedals/" class="navPages-item--lvl2-link mobile-hidden">Bike Pedals &amp; Cleats</a>
                                                    </li>
                                                    <li>
                                                        <a href="/cycling-accessories-parts/bike-parts/" class="navPages-item--lvl2-link mobile-hidden">Bike Parts</a>
                                                    </li>
                                                </ul>
                                            </div>
            
                                            <div class="navpages-section">
                                                <a href="/fitness-trackers" class="navPages-item--lvl2-title has-menu mobile-hidden">Fitness Trackers &amp; Bike Computers</a>
                                                <ul>
                                                    <li>
                                                        <a href="/fitness-trackers/heart-rate-monitors" class="navPages-item--lvl2-link mobile-hidden">Heart Rate Monitors</a>
                                                    </li>
                                                    <li>
                                                        <a href="/fitness-trackers/bike-computers" class="navPages-item--lvl2-link mobile-hidden">Bike Computers</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        
                                        <!-- COLUMN 2 -->
                                        <div class="col-lg-3">
                                            <div class="navpages-section">
                                                <a href="/cycling-clothing/mens" class="navPages-item--lvl2-title has-menu">Men's SPIN&reg; Clothes</a>
                                                <ul class="navPages-item--lvl3 mobile-hidden">
                                                    <li><a href="/apparel/mens-spin-clothes/cycling-shorts-bottoms/" class="navPages-item--lvl2-link">Cycling Shorts &amp; Bottoms</a></li>
                                                    <li><a href="/apparel/mens-spin-clothes/cycling-jerseys-tops/" class="navPages-item--lvl2-link">Cycling Jerseys &amp; Tops</a></li>
                                                    <li><a href="/apparel/mens-spin-clothes/mens-team-kit/" class="navPages-item--lvl2-link">Men's Team Kit</a></li>
                                                    <li><a href="/apparel/mens-spin-clothes/casual-wear/" class="navPages-item--lvl2-link">Casual Wear</a></li>
                                                    <!-- <li><a href="/apparel/mens-spin-clothes/cycling-accessories/" class="navPages-item--lvl2-link">Cycling Accessories</a></li> -->
                                                    <li><a href="/apparel/mens-spin-clothes/cycling-socks/" class="navPages-item--lvl2-link">Cycling Socks</a></li>
                                                </ul>
                                            </div>
                                            
                                            <div class="navpages-section">
                                                <a href="/cycling-clothing/womens" class="navPages-item--lvl2-title has-menu">Women's SPIN&reg; Clothes</a>
                                                <ul class="navPages-item--lvl3 mobile-hidden">
                                                    <li><a href="/apparel/womens-spin-clothes/cycling-shorts-bottoms/" class="navPages-item--lvl2-link">Cycling Shorts &amp; Bottoms</a></li>
                                                    <li><a href="/apparel/womens-spin-clothes/cycling-jerseys-tops/" class="navPages-item--lvl2-link">Cycling Jerseys &amp; Tops</a></li>
                                                    <li><a href="/apparel/womens-spin-clothes/womens-team-kit/" class="navPages-item--lvl2-link">Women's Team Kit</a></li>
                                                    <li><a href="/apparel/womens-spin-clothes/casual-wear/" class="navPages-item--lvl2-link">Casual Wear</a></li>
                                                    <!-- <li><a href="/apparel/womens-spin-clothes/cycling-accessories/" class="navPages-item--lvl2-link">Cycling Accessories</a></li> -->
                                                    <li><a href="/apparel/womens-spin-clothes/cycling-socks/" class="navPages-item--lvl2-link">Cycling Socks</a></li>
                                                </ul>
                                            </div>
                                        </div>
            
                                        <!-- Column 3 -->
                                        <div class="col-lg-3">
                                            <div class="navpages-section">
                                                <a href="/training-equipment/" class="navPages-item--lvl2-title has-menu">Training Equipment</a>
                                                <ul>
                                                    <li><a href="/training-equipment/crosscore" class="navPages-item--lvl2-link mobile-hidden">CrossCore&reg;</a></li>
                                                    <li><a href="/training-equipment/bodyblade/" class="navPages-item--lvl2-link mobile-hidden">Bodyblade&reg;</a></li>
                                                    <li><a href="/training-equipment/pilates-equipment/" class="navPages-item--lvl2-link mobile-hidden">Peak Pilates&reg;</a></li>
                                                    <li><a href="/training-equipment/" class="navPages-item--lvl2-link mobile-hidden">More…</a></li>
                                                </ul>
                                            </div>
                                            
                                            <div class="navpages-section">
                                                <a href="/music-dvds/" class="navPages-item--lvl2-title has-menu">Workout DVDs &amp; Music</a>
                                                <ul>
                                                    <li><a href="/music-and-dvds/workout-dvds/" class="navPages-item--lvl2-link mobile-hidden">Workout DVDs</a></li>
                                                    <li><a href="/music-and-dvds/music-cds/" class="navPages-item--lvl2-link mobile-hidden">Workout CDs</a></li>
                                                </ul>
                                                
                                                <a href="/sale/" class="navPages-item--lvl2-title">Sale</a>
                                            </div>
                                        </div>
            
                                        <!-- Column 5 -->
                                        <div class="col-lg-3">
                                            <div class="featured-product">
                                                <a href="/spin-bikes/"><img src="https://cdn3.bigcommerce.com/s-7gx9baj8om/images/stencil/500x659/products/491/1209/8679d8f882b48b34da3980e4cf2ae9afd903937f9668a3d8364170b1b7239b21__94547.1513335904.jpg?c=2"></a>
                                                <div style="margin-left: auto; margin-right: auto; width: 100%; min-width: 200px;">
                                                    <p>Home Spin&reg; Bikes</p>
                                                    <a href="/spin-bikes/" class="cta-arrow" style="border-top-color: #fff">
                                                        <span class="cta-arrow--featured-link-text" style="color:#ff4341">
                                                            Shop Now
                                                        </span>
                                                        <span class="cta-arrow--featured-link-arrow">
                                                            <img src="http://cdn6.bigcommerce.com/s-nmzp0auf4w/stencil/d9d6d260-8a49-0135-7193-525400dfdca6/e/dcf627a0-8ce2-0135-a82b-525400970412/img/icons/cta-arrow.png">
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 
            <div class="second-level">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="navPages-list--lvl2">
                                <li>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <a href="/spin-bikes/" class="navPages-item--lvl2-title has-menu mobile-hidden">Bikes</a>
                                            <ul>
                                                <li>
                                                    <a href="/spin-bikes/" class="navPages-item--lvl2-link">Home Bikes</a>
                                                </li>
                                                <li>
                                                    <a href="/commercial-spin-bikes/" class="navPages-item--lvl2-link">Commercial Bikes</a>
                                                </li>
                                                <li>
                                                    <a href="/cycling-accessories-parts/" class="navPages-item--lvl2-link mobile-hidden">Parts & Accessories</a>
                                                </li>
                                            </ul>

                                            <a href="/fitness-trackers" class="navPages-item--lvl2-title has-menu mobile-hidden">Fitness Trackers &amp; Equipment</a>
                                            <ul>
                                                <li>
                                                    <a href="/fitness-trackers/heart-rate-monitors" class="navPages-item--lvl2-link">Heart Rate Monitors</a>
                                                </li>
                                                <li>
                                                    <a href="/fitness-trackers/bike-computers" class="navPages-item--lvl2-link">Bike Computers</a>
                                                </li>
                                            </ul>
                                            <a href="/cycling-clothing" class="navPages-item--lvl2-title has-menu mobile-hidden">Apparel</a>
                                            <ul>
                                                <li>
                                                    <a href="/cycling-clothing/womens/" class="navPages-item--lvl2-link">Women's SPIN&reg; Clothes</a>
                                                </li>
                                                <li>
                                                    <a href="/cycling-clothing/mens/" class="navPages-item--lvl2-link">Men's SPIN&reg; Clothes</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-6">

                                            <a href="/cycling-accessories-parts/" class="navPages-item--lvl2-title has-menu">Parts and Accessories</a>
                                            <ul>
                                                <li>
                                                    <a href="/cycling-accessories-parts/bike-accessories/" class="navPages-item--lvl2-link mobile-hidden">Accessories</a>
                                                </li>
                                                <li>
                                                    <a href="/cycling-accessories-parts/bike-pedals/" class="navPages-item--lvl2-link mobile-hidden">Bike Pedals</a>
                                                </li>
                                                <li>
                                                    <a href="/cycling-accessories-parts/bike-parts/" class="navPages-item--lvl2-link mobile-hidden">Bike Parts and Cleats</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul class="navPages-list--lvl2">
                                <li>
                                    <div class="row">
                                        <div class="col-lg-6" id="featured-product-wrapper">
                                            <div class="featured-product">
                                                <a href="/aero-spin-bike"><img src="{{cdn 'assets/img/machines/aero-side-view.jpg'}}"></a>
                                                <p>Featured SPIN &reg; Bike</span></p>
                                                {{>
                                                    components/common/cta-arrow
                                                    text='Shop Now'
                                                    text_color='#ff4341'
                                                    link='/aero-spin-bike'
                                                }}
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <a href="/training-equipment/" class="navPages-item--lvl2-title">Training Equipment</a>
                                            <ul>
                                                <li><a href="/training-equipment/crosscore" class="navPages-item--lvl2-link mobile-hidden">CrossCore</a></li>
                                                <li><a href="/training-equipment/bodyblade/" class="navPages-item--lvl2-link mobile-hidden">Bodyblade</a></li>
                                                <li><a href="/training-equipment/medicine-balls/" class="navPages-item--lvl2-link mobile-hidden">Medicine Balls</a></li>
                                                <li><a href="/training-equipment/" class="navPages-item--lvl2-link mobile-hidden">More…</a></li>
                                            </ul>
                                            <a href="/music-dvds/" class="navPages-item--lvl2-title">Music and DVDs</a>
                                            <a href="/sale/" class="navPages-item--lvl2-title">Sale</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> 
            -->
        </li>
        <!-- 
        <li class="navPages-item">
            <a href="/find-a-class" class="navPages-action">Find A Class</a>
        </li>
        -->
        <li class="navPages-item has-child-menu">
            <span class="navPages-action">
                Instructors
                <i class="fa fa-angle-down"></i>
                <i class="fa fa-angle-up"></i>
            </span>
            <div class="second-level">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 align-top">
                            <ul class="navPages-list--lvl2">
                                <li>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <a href="/instructors" class="navPages-item--lvl2-title has-menu">Instructors</a>
                                            <ul>
                                                <li>
                                                    <a href="/instructors/education" class="navPages-item--lvl2-link">Education</a>
                                                </li>
                                                <li>
                                                    <a href="/instructors/spin-membership/" class="navPages-item--lvl2-link">SPIN<sup>&reg;</sup> Membership</a>
                                                </li>
                                                <li>
                                                    <a href="http://spinpro.spinning.com/" class="navPages-item--lvl2-link">SPIN<sup>&reg;</sup> Pro</a>
                                                </li>
                                                <li>
                                                    <a href="/instructors/education/certification-renewal" class="navPages-item--lvl2-link">Certification Renewal</a>
                                                </li>
                                                <li>
                                                    <a href="http://spinlife.spinning.com/category/ascend-pro-blog/" class="navPages-item--lvl2-link">Instructor Blog</a>
                                                </li>
                                                <li>
                                                    <a href="/instructors/events" class="navPages-item--lvl2-link">Events</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6 align-top">
                            <ul class="navPages-list--lvl2">
                                <li>
                                    <div class="row">
                                        <div class="col-lg-6" id="featured-instructor-wrapper">
                                            <div class="featured-product">
                                                <a href="/training"><img src="{{cdn 'assets/img/people/instructor-nav.jpg'}}"></a>
                                                <p>Become an Instructor</p>
                                                {{>
                                                    components/common/cta-arrow
                                                    text='Find Trainings'
                                                    text_color='#ff4341'
                                                    link='/training'
                                                }}
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="navPages-item has-child-menu">
            <span class="navPages-action">
                Studios
                <i class="fa fa-angle-down"></i>
                <i class="fa fa-angle-up"></i>
            </span>
            <div class="second-level">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 align-top">
                            <ul class="navPages-list--lvl2">
                                <li>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <a href="/spinning-studios" class="navPages-item--lvl2-title has-menu">Studios</a>
                                            <ul>
                                                <li>
                                                    <a href="/spin-studios/become-a-spinning-facility/" class="navPages-item--lvl2-link">Become a Facility</a>
                                                </li>
                                                <li>
                                                    <a href="/spin-studios/host-a-training" class="navPages-item--lvl2-link">Host a Training</a>
                                                </li>
                                                <li>
                                                    <a href="/spin-studios/spinner-bikes" class="navPages-item--lvl2-link">Spinner Bikes</a>
                                                </li>
                                                <li>
                                                    <a href="/spin-studios/bike-maintenance" class="navPages-item--lvl2-link">Bike Maintenance</a>
                                                </li>
                                                <li>
                                                    <a href="/spin-studios/facility-faq" class="navPages-item--lvl2-link">Facility FAQs</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="navPages-item has-child-menu">
            <span class="navPages-action">
                Get Started
                <i class="fa fa-angle-down"></i>
                <i class="fa fa-angle-up"></i>
            </span>
            <div class="second-level">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="navPages-list--lvl2">
                                <li>
                                    <div class="row">
                                        <div class="col-lg-6">

                                            <a href="/getting-started" class="navPages-item--lvl2-title">Getting Started</a>

                                            <a href="/training-tips" class="navPages-item--lvl2-title">Training Tips</a>

                                            <a href="/energy-zone-chart" class="navPages-item--lvl2-title">Energy Zone™ Chart</a>

                                        </div>
                                        <div class="col-lg-6">
                                            <a href="http://spinlife.spinning.com/" class="navPages-item--lvl2-title has-menu">#SpinLifeBlog</a>
                                            <ul>
                                                <li>
                                                    <a href="http://spinlife.spinning.com/" class="navPages-item--lvl2-link">Fitness Tips</a>
                                                </li>
                                                <li>
                                                    <a href="http://spinlife.spinning.com/" class="navPages-item--lvl2-link">Workouts</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul class="navPages-list--lvl2">
                                <li>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="featured-product">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        
        <li class="navPages-item has-child-menu">
            <span class="navPages-action">
                SPINtv&trade;
                <i class="fa fa-angle-down"></i>
                <i class="fa fa-angle-up"></i>
            </span>
            <div class="second-level">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-md-6 col-lg-3" style="padding-bottom:10px;">
                            <a href="/spintv/" class="navPages-item--lvl2-title"><img src="https://cdn6.bigcommerce.com/s-nmzp0auf4w/product_images/uploaded_images/sp-main-spin-tvlogo-black-outline-tm-highres-vf.png" alt="SpinTV"></a>
                            Stream exclusive rides led by rockstar Master Spinning® instructors straight to your TV or mobile device for the ultimate home fitness experience: the power of the studio is now yours.
                            <a style="margin-top:15px;color:#fff!important;" class="btn btn-red btn-rounded-corners cta-button" href="/spintv/">Learn More</a>
                        </div>
                        <div class="col-xs-12 col-md-6 col-lg-3">
                            <ul>
                                <li>
                                    <a style="mobile-hidden" href="https://tv.spinning.com" target="_blank">
                                        <img src="https://cdn6.bigcommerce.com/s-nmzp0auf4w/product_images/uploaded_images/progressive-hills-strength.png?t=1510703281">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://tv.spinning.com" class="navPages-item--lvl2-title" target="_blank">Ride: Progressive Hills</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-md-6 col-lg-3">
                            <ul>
                                <li>
                                    <a style="mobile-hidden" href="https://tv.spinning.com" target="_blank">
                                        <img src="https://cdn6.bigcommerce.com/s-nmzp0auf4w/product_images/uploaded_images/calorie-torching-speed.png">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://tv.spinning.com" target="_blank" class="navPages-item--lvl2-title">Ride: Calorie Torching</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-md-6 col-lg-3">
                            <ul>
                                <li>
                                    <a style="mobile-hidden" href="https://tv.spinning.com" target="_blank">
                                        <img src="https://cdn6.bigcommerce.com/s-nmzp0auf4w/product_images/uploaded_images/maximum-efficiency-intervals-stamina.png">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://tv.spinning.com" target="_blank" class="navPages-item--lvl2-title">Ride: Maximum Efficiency Intervals</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        
        <li class="navPages-item mobile-only">
            <a href="/find-a-class" class="navPages-action">Find A Class</a>
        </li>
        <li class="navPages-item mobile-only">
            {{#if customer}}
                <a class="navPages-action" href="{{urls.account.index}}">{{lang 'common.account'}}</a>
                <a class="navPages-action" href="{{urls.auth.logout}}">{{lang 'common.logout'}}</a>
            {{else}}
                <a class="navPages-action" href="{{urls.auth.login}}">{{lang 'common.login'}}</a><a class="navPages-action" href="{{urls.auth.create_account}}">{{lang 'common.sign_up'}}</a>
            {{/if}}
        </li>
    </ul>
</nav>
