<div class="explore">
    <h2 class="section-header">Explore The World of Spinning<span class="reg"></span></h2>
    <p class="section-description">Never stop growing. Whether you’re new to Spinning® or a seasoned instructor, we invite you to continue your fitness journey here.</p>

    <div class="row explore-boxes">
        <div class="col-sm-4 explore-box">
            <div class="explore-box--inner">
               <a href="/instructors"> <img src="https://cdn3.bigcommerce.com/s-7gx9baj8om/product_images/uploaded_images/hp-854x904-instructor.jpg" class="explore-box--image">
                   
                   <div class="explore-box--overlay"></div>
                   
                   <div class="explore-box--text">
                       <h2>Instructor<br/>Education</h2>
                       <p>With over 250,000 certified instructors across 80 countries, Spinning® is the world’s most widely recognized indoor cycling education program. Sign up for the Spinning® Instructor Certification course today.</p>
                   </div></a>
                {{> components/common/cta-arrow text_color='#fff' white_arrow=true link='/instructors'}}
            </div>
        </div>
        <div class="col-sm-4 explore-box">
            <div class="explore-box--inner">
                <a href="/instructors/spin-membership"><img src="https://cdn3.bigcommerce.com/s-7gx9baj8om/product_images/uploaded_images/hp-854x904-banner-spin.jpg" class="explore-box--image">
                    
                    <div class="explore-box--overlay"></div>
                    
                    <div class="explore-box--text">
                        <h2>SPIN®<br/>Membership</h2>
                        <p>As a Spinning® instructor, you know what it takes to lead a great class. Make your classes even better with the expert advice and big discounts with our SPIN® Membership program.</p>
                    </div></a>

                {{> components/common/cta-arrow text_color='#fff' white_arrow=true link='/instructors/spin-membership'}}
            </div>
        </div>
        <div class="col-sm-4 explore-box">
            <div class="explore-box--inner">
                <a href="/spinning-studios"><img src="https://cdn3.bigcommerce.com/s-7gx9baj8om/product_images/uploaded_images/hp-854x904-banner-studio.jpg" class="explore-box--image">
                    
                    <div class="explore-box--overlay"></div>
                    
                    <div class="explore-box--text">
                        <h2>Studios<br/>& Clubs</h2>
                        <p>Bring the world’s best and most recognized brand in indoor cycling to your studio or club, with Spinning® instructor certification and our new line of bikes manufactured by Precor®.</p>
                    </div></a>

                {{> components/common/cta-arrow text_color='#fff' white_arrow=true link='/spinning-studios'}}
            </div>
        </div>
    </div>
</div>
