<div class="shop-spinning">
	<h2 class="section-header">Shop Spinning<span class="reg"></span></h2>
	<p class="section-description">From bikes to apparel to education to accessories, we have anything you need to make great Spinning® classes even better.</p>
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-6 col-xs-6">
				<a href="/spin-bikes/">
					<div class="img-wrapper"><img src="https://cdn3.bigcommerce.com/s-7gx9baj8om/product_images/uploaded_images/hp-rally-.jpg" alt=""></div>
					<span class="category-title">Spinner® Bikes</span>
				</a>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-6">
				<a href="/cycling-clothing/womens/">
					<div class="img-wrapper"><img src="https://cdn3.bigcommerce.com/s-7gx9baj8om/product_images/uploaded_images/hp-womens-apparel-.jpg" alt=""></div>
					<span class="category-title">Women’s Apparel</span>
				</a>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-6">
				<a href="/cycling-clothing/mens/">
					<div class="img-wrapper"><img src="https://cdn3.bigcommerce.com/s-7gx9baj8om/product_images/uploaded_images/hp-mens-apparel-.jpg" alt=""></div>
					<span class="category-title">Men’s Apparel</span>
				</a>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-6">
				<a href="/spintv">
					<div class="img-wrapper"><img src="https://cdn3.bigcommerce.com/s-7gx9baj8om/product_images/uploaded_images/spintv-product-tile.jpg?t=1512489365" alt=""></div>
					<span class="category-title">SPINtv&trade;</span>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-6 col-xs-6">
				<a href="/fitness-trackers">
					<div class="img-wrapper"><img src="https://cdn3.bigcommerce.com/s-7gx9baj8om/product_images/uploaded_images/hp-hrmonitors-.jpg" alt=""></div>
					<span class="category-title">HR Monitors & Computers</span>
				</a>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-6">
				<a href="/cycling-accessories-parts/">
					<div class="img-wrapper"><img src="https://cdn3.bigcommerce.com/s-7gx9baj8om/product_images/uploaded_images/hp-accessories-.jpg" alt=""></div>
					<span class="category-title">Accessories</span>
				</a>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-6">
				<a href="/music-dvds/">
					<div class="img-wrapper"><img src="https://cdn3.bigcommerce.com/s-7gx9baj8om/product_images/uploaded_images/hp-dvdsmusic-.jpg" alt=""></div>
					<span class="category-title">DVDs & Music</span>
				</a>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-6">
				<a href="/training-equipment/">
					<div class="img-wrapper"><img src="https://cdn3.bigcommerce.com/s-7gx9baj8om/product_images/uploaded_images/hp-training-.jpg" alt=""></div>
					<span class="category-title">Training Equipment</span>
				</a>
			</div>
		</div>
	</div>
</div>
